@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  ---color-white-secondary: #ffffff99;
  ---color-black-primary: #071726;
  ---color-gray-primary: #677171;
  ---color-blue-primary: #032435;
  ---color-blue-secondary: #EAEEF8;
}

@theme inline {
  ---color-white-secondary: #ffffff99;
  ---color-black-secondary: #071726;
  ---color-gray-primary: #677171;
  ---color-blue-primary: #032435;
  ---color-blue-secondary: #EAEEF8;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  background-color: #F5FAFB;
}

/* dropdown custum css  */
.customSelect .ant-select-selector {
  background: none !important;
  border-radius: 66px !important;
  outline: none !important;
}

.customSelect .ant-select-selector .ant-select-selection-wrap .ant-select-selection-search input,
.customSelect .ant-select-selector .ant-select-selection-wrap .ant-select-selection-item {
  font-size: 12px !important;
}

/* your css file or inside globals */
.customSelect.ant-select-focused,
.customSelect.ant-select-selector:focus,
.customSelect.ant-select-selector:active {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

