@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-green-grass: #96B3A9;
}

@theme inline {
  --color-green-grass: #96B3A9;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
