@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-white-secondary: #ffffff99;

  --color-black-primary: #071726;
  --color-black-60: #66727B;
  --color-black-40: #969FA6;
  --color-black-10: #DDE3E6;

  --color-count: #D5DFF4;

  --color-gray-primary: #677171;
  --color-gray-basic: #E4E4E4;
  --color-gray-neutral: #727272;

  --color-silver: #EFF6F8;

  --color-yellow-primary: #FFDE8F;
  --color-yellow-pastel: #F4ECD5;
  --color-yellow-warm: #FFDD6E;

  --color-red-primary: #E14942;

  --color-green-primary: #127F62;
  --color-green-secondary: #D5F4DF;
  --color-green-pastel: #E1F4D5;
  --color-green-mint: #C7F5BC;
  --color-green-lime: #DEFF8F;

  --color-pink-primary: #FFC8E4;
  --color-pink-secondary: #F4D5EE;
  --color-pink-pastel: #F4D5D8;

  --color-blue-primary: #032435;
  --color-blue-secondary: #EAEEF8;
  --color-blue-light: #F5FAFB;

  --color-purple-secondary: #D9D2FF;

  --color-cyan-primary: #92EEF1;
}

@theme {
  --color-white-secondary: #ffffff99;

  --color-black-primary: #071726;
  --color-black-60: #66727B;
  --color-black-40: #969FA6;
  --color-black-10: #DDE3E6;

  --color-count: #D5DFF4;

  --color-gray-primary: #677171;
  --color-gray-basic: #E4E4E4;
  --color-gray-neutral: #727272;

  --color-silver: #EFF6F8;

  --color-yellow-primary: #FFDE8F;
  --color-yellow-pastel: #F4ECD5;
  --color-yellow-warm: #FFDD6E;

  --color-red-primary: #E14942;

  --color-green-primary: #127F62;
  --color-green-secondary: #D5F4DF;
  --color-green-pastel: #E1F4D5;
  --color-green-mint: #C7F5BC;
  --color-green-lime: #DEFF8F;

  --color-pink-primary: #FFC8E4;
  --color-pink-secondary: #F4D5EE;
  --color-pink-pastel: #F4D5D8;

  --color-blue-primary: #032435;
  --color-blue-secondary: #EAEEF8;
  --color-blue-light: #F5FAFB;

  --color-purple-secondary: #D9D2FF;

  --color-cyan-primary: #92EEF1;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  background-color: var(--color-blue-light);
}

/* dropdown custum css  */
.customSelect .ant-select-selector {
  background: none !important;
  border-radius: 66px !important;
  outline: none !important;
}

.customSelect .ant-select-selector .ant-select-selection-wrap .ant-select-selection-search input,
.customSelect .ant-select-selector .ant-select-selection-wrap .ant-select-selection-item {
  font-size: 12px !important;
}

/* your css file or inside globals */
.customSelect.ant-select-focused,
.customSelect.ant-select-selector:focus,
.customSelect.ant-select-selector:active {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.customizedFormStyling .ant-form-item{
  margin-bottom: 0 !important;
}

/* table */
.custom-small-table .ant-table-thead > tr > th {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  color: var(--color-black-primary);
  background-color: #F5FAFB;
}

.custom-small-table .ant-table-thead > tr {
  height: 32px;
}

/* formComponent */
/* formSelect */
.customFormSelect .ant-select-selector {
  background: none !important;
  border-radius: 12px !important;
  outline: none !important;
}
